/* Blogpost styling */
  article{
    width: 95%;
    margin: auto;
  }

  figure{
    margin: auto;
    width: 95%;
  }

  figure img{
    width: 100%;
  }
  
  figcaption{
    text-align: center;
    line-height: 1.5em;
    letter-spacing: 3px;
  }
