/* Blogpost styling */
  .article{
    width: 90%;
    margin: auto;
  }

  figure{
    margin: auto;
    width: 95%;
  }
  
  figcaption{
    text-align: center;
    line-height: 1.5em;
  }
