/* General Text Styling */
body{
  font-family: Helvetica, Arial, sans-serif;
  background-color: white;
  font-size: 16px;
  color: black;
}

.h1{
  font-size: 2em;
}
.h2{
  font-size: 1.5em;
}
.h3{
  font-size: 1.4em;
}
.h4{
  font-size: 1.3em;
}
.h5{
  font-size: 1.1em;
}

/* Mobile first */
.container{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 200px 600px;
    grid-template-areas:
      "hd" 
      "main"
      "sd"
      "ft";
  }
  
  .box{
      /* border: 1px solid black; */
      padding: 0 5px;
      /* background: #F8FA9D; */
      }
  
    .header{
      grid-area:hd;
      text-align: center;
    }
    .footer{
      grid-area: ft;  
      text-align: center;
    }
    .sidebar{
      grid-area: sd;
      padding: 0 5px;
    }
    .content{
      grid-area: main;

    }
    
    #contentGrid{
      display: grid;
      grid-template-rows: 100%;
      grid-gap: 10px;
    }

    .blogpost{
      border: 1px solid black;
    }

    div.blogpost img {
      width: 100%;
      height: auto;
    }

    .blogpost:hover{
      color: red;
    }
  
  /* If Screen Is Wide Enough */
  @media(min-width:900px){
  .container{
        display:grid;
        width: 80%;
        margin:auto;
        grid-template-columns: 75% 25%;
        grid-template-rows: 80px 600px;
        grid-template-areas: 
        "hd hd"
        "main sd"
        "ft ft";
        /* grid-template-columns: 300px 300px 300px;
        grid-template-rows: 100px 600px;
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd hd "
        "sd sd main main main main main main main"
        "ft ft ft ft ft ft ft ft ft"; */
        /* border: 2px solid red; */
    }
  .header{
    text-align:left;
  }
  }
