/* General Text Styling */
body{
  font-family: Helvetica, Arial, sans-serif;
  background-color: white;
  color: black;
}

h1{
  font-size: 2em;
}
h2{
  font-size: 1.5em;
}
h3{
  font-size: 1.4em;
}
h4{
  font-size: 1.3em;
}
h5{
  font-size: 1.1em;
}

/* Mobile first */
.container{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px auto;
    grid-template-areas:
      "hd" 
      "main"
      "sd"
      "ft";
  }
  
    .box{
      padding: 0 5px;
    }
  
    .header{
      grid-area:hd;
      text-align: center;
    }
    .footer{
      grid-area: ft;  
      text-align: center;
    }
    .sidebar{
      grid-area: sd;
      padding: 0 5px;
    }
    .content{
      grid-area: main;
    }
    
    #contentGrid{
      display: block;
      /* grid-template-rows: 100%;
      grid-gap: 10px; */
    }

    .blogpost{
      border: 1px solid black;
      width: 90%;
      margin: 15px auto;
    }

    .desc{
      margin-block-start: 5px;
      margin-block-end: 10px;
      font-size: 20px;
      text-align: center;
    }

    div.blogpost img {
      width: 100%;
      height: auto;
    }

    .blogpost:hover{
      border: 1px solid red;
    }

    /* Author Sidebar */
    .author{
      width: 90%;
      margin: auto;
    }

    .author img{
      width: 100%;
      height: auto;
      border-radius: 50%;
    }

    /* Blogpost styling */
    .article{
      width: 90%;
      margin: auto;
    }
    
    .article img{
      width: 100%;
      height: auto;
    }

    /* Buttons */
    .back-btn {
      background-color: #4CAF50; /* Green */
      border: 2px solid #4CAF50;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
      border-radius: 4px;
    }

    .back-btn:hover {
      background-color: white;
      color: black;
    }

    /* Social Media Styling */
    .share-btns {
      padding-top: 1rem;
      padding-bottom: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      cursor: pointer;
    }

    .share-btn {
      display: inline-block;
      color: #ffffff;
      border: none;
      padding: 0.1em 0.6em;
      outline: none;
      text-align: center;
      font-size: 1em;
      margin: 0 0.2em;
      text-decoration: none;
    }
    
    .share-btn:focus,
    .share-btn:hover {
      text-decoration: none;
      opacity: 0.8;
    }
    
    .share-btn:active {
      color: #e2e2e2;
    }

    .share-btn.twitter     { background: #55acee; }
    .share-btn.facebook    { background: #3B5998; }
    .share-btn.linkedin    { background: #4875B4; }
  
  /* If Screen Is Wide Enough */
  @media(min-width:900px){
  .container{
        display:grid;
        width: 80%;
        margin:auto;
        grid-template-columns: 75% 25%;
        grid-template-rows: 80px auto;
        grid-template-areas: 
        "hd hd"
        "main sd"
        "ft ft";
    }
  .header{
    text-align:left;
  }
  .blogpost{
    border: 1px solid black;
    width: 80%;
    margin: 25px auto;
  }
  /* Author Sidebar */
  .author{
    width: 100%;
  }
}
